/addons/
/release/
/backups/
/bin/
/dumps/
/logs/
/simpleserver/
/translations/
/tmp/
/translations/
/world*/
/*\.debug
/*\.log*
/*\.properties
/API.jar
/banned-ips.txt
/banned-players.txt
/white-list.txt
/error_*\.txt
/minecraft_server.jar
/ops.txt
/SimpleServer.jar
/SimpleServer.zip
/CraftBukkit.jar
/bukkit.yml
/.settings/
*.orig
\.ant-*
*~
*.BASE.*
*.BACKUP.*
*.LOCAL.*
*.class
/translations/
