/addons/
/backups/
/bin/
/dumps/
/logs/
/simpleserver/
/tmp/
/world*/
/*\.debug
/*\.log*
/*\.properties
/API.jar
/banned-ips.txt
/banned-players.txt
/white-list.txt
/error_*\.txt
/minecraft_server.jar
/ops.txt
/SimpleServer.jar
/SimpleServer.zip
/.settings/
